<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Indkøbskurv</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">

    <script defer src="cart.js"></script>
    <link rel="stylesheet" href="styleCart.css">
</head>

<body>

   
    <div id="cart-app">
        <h1>Din Indkøbskurv</h1>
        <div v-if="cart.length === 0" class="cart-empty">
            <p>Kurven er tom.</p>
            <div class="cart-links">
                <a href="index.html">Tilbage til butikken</a>
            </div>
        </div>
        <div v-else>
            <table>
                <thead>
                    <tr>
                        <th>Produkt</th>
                        <th>Model</th>
                        <th>Pris</th>
                        <th>Antal</th>
                        <th>Handling</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in cart" :key="item.id">
                        <td>
                            <img :src="item.imageData" alt="Product Image" style="height: 100;" style="width: 100;" class="product-image">
                        </td>
                        <td>{{ item.model }}</td>
                        <td>{{ item.price }} DKK</td>
                        <td>
                            <button @click="decreaseQuantity(item)">-</button>
                            {{ item.quantity }}
                            <button @click="increaseQuantity(item)">+</button>
                        </td>
                        <td>
                            <button @click="removeFromCart(item.id)">❌ Fjern</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <h2>Samlet pris: {{ totalPrice }} DKK</h2>
            <button @click="clearCart" class="clear-cart-btn">Tøm kurv</button>
            <button type="button" onclick="window.location.href='index.html';" class="go-back-btn">Go back</button>
            <button type="button" onclick="window.location.href='checkout.html';" class="check-out-btn">Check Out</button>



        </div>
    </div>
    